<h1>やる事リスト</h1>

<% if @tasks.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>内容</th>
        <th>状態</th>
      </tr>
    </thead>
    <tbody>
      <% array =["(未)","(完)"] %>
      <% @tasks.each do |task| %>
      <tr>
          <td><%= task.id %>
          <td><%= link_to task.content, task %></td>
          <td><%= array[task.status.to_i] if task.status != nil %></td>
          <td><%= link_to '[編集]', edit_task_path(task) %>
          <%= link_to '[削除]', task, method: :delete, data: {confirm: '本当に削除しますか？'} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @tasks %>
  </div>
  <% end %>
  
  <%= link_to '新規作成', new_task_path, class: 'btn btn-primary' %>