<h1>やる事リスト</h1>

<ul>
  <% @tasks.each do |task| %>
  <li>
      <%= task.id %> : <%= link_to task.content, task %> :
      <%= link_to '[編集]', edit_task_path(task) %>
      <%= link_to '[削除]', task, method: :delete, data: {confirm: '本当に削除しますか？'} %>
  </li>
  <% end %>
</ul>

<%= link_to '新規タスク作成', new_task_path %>