<h1><%= #タスク名 %></h1>

<%= #link_to '新規タスク作成' リンク %>
<%= #カテゴリ繰り返し表示 %>
<%= #link_to '新規カテゴリ作成' リンク %>

<%= #タスクの繰り返し処理 %>
<ul>
  <li><%= #checkbox %><%= #link_to 'タスクの表示' edit %><%= #[Delete] %></li>
</ul>
<% end %>